labs/__pycache__/bin2dec.cpython-310.pyc
src/num/__pycache__/numlabcore.cpython-310.pyc
src/num/__pycache__/numlabflag.cpython-310.pyc
src/__pycache__/lab_loader.cpython-310.pyc
labs/__pycache__/hex2dec.cpython-310.pyc
labs/__pycache__/bin2hex.cpython-310.pyc
labs/__pycache__/hex2bin.cpython-310.pyc
labs/__pycache__/dec2bin.cpython-310.pyc
labs/__pycache__/dec2hex.cpython-310.pyc
